Guest Agent - Knowledge Base Setup.json
{
  "name": "Guest Agent - Knowledge Base Setup",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -160
      ],
      "id": "45fad3a3-da6a-48ef-9dce-182dd3e19695",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1abc955f-bcc8-4645-973d-d3beb8af39f5",
              "name": "Content",
              "value": "# La Roche Hotel — Guest Policies  ## Check-in and Check-out Check-in time is 2:00 PM (14:00). Check-out time is 11:00 AM. Early check-in is subject to room availability and may incur a small fee. Late check-out until 2:00 PM is offered free of charge when availability allows; after 2:00 PM, guests are charged for an additional night.  ## Cancellation Policy Reservations can be cancelled free of charge up to 48 hours before arrival. Cancellations made within 48 hours of arrival are charged the cost of one night's stay. No-shows are charged the full cost of the reserved stay to the card on file.  ## Parking Free on-site parking is available to all guests on a first-come, first-served basis. Valet parking is also available for an additional fee.  ## Wi-Fi Free high-speed Wi-Fi is available throughout the hotel, including all guest rooms. No login or payment is required beyond accepting the terms on the connection page.  ## Breakfast A continental breakfast is included with every room booking, served daily from 6:30 AM to 10:30 AM in the main restaurant. An à la carte breakfast menu is also available for an additional charge.  ## Pets Pets are not permitted, with the exception of registered service animals, for which no additional fee applies.  ## Payment Methods Visa, Mastercard, and major debit cards are accepted. Cash is accepted in local currency. A valid card or full prepayment is required at check-in to cover incidentals.  ## Extra Guests / Children Children under 6 stay free when using existing bedding. An extra bed or cot can be added for an additional nightly fee, subject to availability. Maximum room occupancy is strictly enforced for safety.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -160
      ],
      "id": "e99c03f5-72f8-4068-9319-700d358c8a1f",
      "name": "Policy Document"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "guest-agent-kb",
          "mode": "list",
          "cachedResultName": "guest-agent-kb"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        192,
        -176
      ],
      "id": "4116b766-2eac-4644-80cc-e63027c251a2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "fLqokfJamgH81O3Y",
          "name": "Pinecone account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        -16
      ],
      "id": "b8be7980-1210-4705-87eb-6aedc90be15c",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "BSxEJLic4IemTDgL",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fullText = $input.first().json.Content;\n\n// Split into one piece per \"## \" heading — no longer depends on line breaks\nconst parts = fullText.split(/(?=## )/);\n\n// The first piece (before the first \"## \") contains the hotel title\nconst title = parts[0].trim().replace(/^#\\s*/, '').trim();\n\n// Everything after that is the actual policy sections\nconst sections = parts.slice(1);\n\nconst output = sections\n  .map(section => section.trim())\n  .filter(section => section.length > 0)\n  .map(section => {\n    return {\n      json: {\n        Content: `${title}\\n\\n${section}`\n      }\n    };\n  });\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -160
      ],
      "id": "a9424675-1b3b-4539-8d24-76437a468303",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        336,
        32
      ],
      "id": "8d989164-3370-4380-89c3-fee38396d530",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Policy Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Policy Document": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6083f5c4-fceb-425a-91e2-73c86e53153a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4882ae57fae7f5198ca4a60b64d52e13372c8da31b44d4c64833b5b89f9efda5"
  },
  "nodeGroups": [],
  "id": "Z4gQPNPn7HxVkyAa",
  "tags": [
    {
      "updatedAt": "2026-06-24T09:01:36.583Z",
      "createdAt": "2026-06-24T09:01:36.583Z",
      "id": "iqfTAcaqWZv4qG4d",
      "name": "By Khoshaba Assyrian"
    }
  ]
}